blinker
click
colorama
Flask
Flask-JWT-Extended
Flask-Mail
flask-marshmallow
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
MarkupSafe
marshmallow
packaging
PyJWT
SQLAlchemy
typing-extensions
Werkzeug
pytest 
flake8
